<!DOCTYPE>
<html ng-app="checklistApp">

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <link href="style.css" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <meta name="viewport" content="width=device-width">

  <title>Trader Joe's Checklist</title>
</head>

<body>

  <div class="container" style="height:100%" ng-controller="AppCtrl">

    <div class="navibar">
      <h1>Trader Joe's Checklist</h1>
      <span id="shopper-who">Shopper: 
        <select ng-init="shopper.name='Alex'" ng-model="shopper.name" Shopper>
          <option value="Alex">Alex</option>
          <option value="Rebecca">Rebecca</option>
        </select>
      </span>
      <span class="refresh-btn">
          <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
      </span>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Claimed</th>
          <th>Checked</th>
          <th>Name of Item</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox" ng-model="item.claim"> Claim it?
          </td>
          <td>
            <input type="checkbox" ng-model="item.check"> Got it?
          </td>
          <td width=70%>
            <input class="form-control" ng-model="item.name">
          </td>
          <td>
            <button class="btn btn-primary" ng-click="addItem()">Add Item</button>
          </td>
        </tr>
        <tr ng-repeat="thisitem in itemlist track by $index">
          <td class="claimedby-{{thisitem.claimedby}}">
            <input type="checkbox" ng-model="thisitem.claimed" ng-click="claimed(thisitem._id,thisitem.claimed,shopper.name)">&nbsp;{{thisitem.claimedby}}
          </td>
          <td>
            <input type="checkbox" ng-model="thisitem.checked" ng-click="checked(thisitem._id,thisitem.checked)"> Got it!
          </td>
          <td>
            <div for="{{$index}}" class="checked-{{thisitem.checked}}">
              <div class="claimed-{{thisitem.claimed}}">{{thisitem.name}}</div>
            </div>
          </td>
          <td>
            <button class="btn btn-danger" ng-click="remove(thisitem._id)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <!--script src="angular.js"></script-->
    <script src="controllers/controller.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>

</body>

</html>
